@charset "UTF-8";
/* postcss-bem-linter: ignore */
body {
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
/* postcss-bem-linter: ignore */
page {
  // padding-bottom: constant(safe-area-inset-bottom);
  // padding-bottom: env(safe-area-inset-bottom);
  height: 100%;
  font-size: 28rpx;
  color: #333;
}
/* postcss-bem-linter: ignore */
button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  line-height: normal;
}
/* postcss-bem-linter: ignore */
button::after {
  border: 0;
}
