@charset "UTF-8";
.__base__,
page,
action-sheet,
canvas,
checkbox,
form,
icon,
image,
input,
label,
loading,
map,
modal,
navigator,
picker,
progress,
radio,
scroll-view,
slider,
swiper,
switch,
text,
textarea,
toast,
video,
view,
action-sheet::after,
action-sheet::before,
canvas::after,
canvas::before,
checkbox::after,
checkbox::before,
form::after,
form::before,
icon::after,
icon::before,
image::after,
image::before,
input::after,
input::before,
label::after,
label::before,
loading::after,
loading::before,
map::after,
map::before,
modal::after,
modal::before,
navigator::after,
navigator::before,
picker::after,
picker::before,
progress::after,
progress::before,
radio::after,
radio::before,
scroll-view::after,
scroll-view::before,
slider::after,
slider::before,
swiper::after,
swiper::before,
switch::after,
switch::before,
text::after,
text::before,
textarea::after,
textarea::before,
toast::after,
toast::before,
video::after,
video::before,
view::after,
view::before,
button {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
